## Goals for this Project:
I would to do the following:
* Clean and simplify data in with pandas in a dataframe. 
* Perform generate data (season, sport events, etc.) to give insight.
* Give a summary table per brand (transaction counts, total money spent, money per transaction, etc.)
* Layered bar plot of transactions per shoe size. 
* Plot the count of transactions over a map of the US to show what regions have more sneakerheads.
* Regression to predict sneaker sales for the next few months.

In [27]:
# import dependencies
import os
import pandas as pd
import numpy as np

#set path for excel file 
csv_file_path = os.path.join("data", "StockX-Data-Contest-2019-3.xlsx")

#import raw data from excel file
yeezy_vs_offwhite_df = pd.read_excel(csv_file_path, sheet_name = 'Raw Data')
yeezy_vs_offwhite_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island

In [28]:
# check value counts to see if the dataframe is square
yeezy_vs_offwhite_df.count()

Order Date      99956
Brand           99956
Sneaker Name    99956
Sale Price      99956
Retail Price    99956
Release Date    99956
Shoe Size       99956
Buyer Region    99956
dtype: int64

In [29]:
# check data type of values
yeezy_vs_offwhite_df.dtypes

Order Date      datetime64[ns]
Brand                   object
Sneaker Name            object
Sale Price             float64
Retail Price             int64
Release Date    datetime64[ns]
Shoe Size              float64
Buyer Region            object
dtype: object

In [26]:
# # data munge
# yeezy_vs_offwhite_df["Sale Price"] = yeezy_vs_offwhite_df["Sale Price"].map("${:,.2f}".format)