## Goals for this Project:
I would to do the following:
* Clean and simplify data in with pandas in a dataframe. 
* Generate general data (season, sport events, etc.) to give insight.
* Give a summary table per brand (transaction counts, markup, total money spent, money per transaction, etc.)
* Layered bar plot of transactions per shoe size. 
* Plot the count of transactions over a map of the US to show what regions have more sneakerheads.
* Regression to predict sneaker sales for the next few months.
* Perform clustering analysis and examine clusters to see if there is any interesting connections.

In [203]:
# import dependencies
import os
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt


import gmaps
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

print("Packages Installed...")

Packages Installed...

In [ ]:
#set path for excel file 
csv_file_path = os.path.join("data", "StockX-Data-Contest-2019-3.xlsx")

#import raw data from excel file
yeezy_vs_offwhite_df = pd.read_excel(csv_file_path, sheet_name = 'Raw Data')
yeezy_vs_offwhite_df.head()

In [122]:
# check value counts to see if the dataframe is square
yeezy_vs_offwhite_df.dropna()
yeezy_vs_offwhite_df.count()

Order Date      99956
Brand           99956
Sneaker Name    99956
Sale Price      99956
Retail Price    99956
Release Date    99956
Shoe Size       99956
Buyer Region    99956
dtype: int64

In [123]:
# check data type of values
yeezy_vs_offwhite_df.dtypes

Order Date      datetime64[ns]
Brand                   object
Sneaker Name            object
Sale Price             float64
Retail Price             int64
Release Date    datetime64[ns]
Shoe Size              float64
Buyer Region            object
dtype: object

In [124]:
# add markup (sale price - retail price)
yeezy_vs_offwhite_df['Price Markup'] = yeezy_vs_offwhite_df['Sale Price']-yeezy_vs_offwhite_df['Retail Price']
yeezy_vs_offwhite_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Price Markup
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,877.0
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,465.0
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,470.0
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,855.0
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,608.0

In [125]:
# # data munge
# yeezy_vs_offwhite_df["Sale Price"] = yeezy_vs_offwhite_df["Sale Price"].map("${:,.2f}".format)

# perform calculations on data as a whole (count of transactions, mean markup, )
total_transactions = yeezy_vs_offwhite_df['Order Date'].count()
total_avg_markup = yeezy_vs_offwhite_df['Price Markup'].mean()
total_avg_shoesize = yeezy_vs_offwhite_df['Shoe Size'].mean()

total_summary = pd.DataFrame({'Total Number of Transactions': total_transactions,
                            'Average Markup': [total_avg_markup],
                            'Average Shoe Size of Sneakerhead': [total_avg_shoesize]})
# data munge
total_summary['Average Markup'] = total_summary['Average Markup'].map("${:,.2f}".format)
# round to nearest half size
total_summary['Average Shoe Size of Sneakerhead'] = (total_summary['Average Shoe Size of Sneakerhead']*2).round()/2
total_summary['Average Shoe Size of Sneakerhead'] = total_summary['Average Shoe Size of Sneakerhead'].map("{:,.1f}".format)
total_summary

,Total Number of Transactions,Average Markup,Average Shoe Size of Sneakerhead
0,99956,$238.02,9.5

In [126]:
# perform calculations on data by shoe brand
brand_grouped_df = yeezy_vs_offwhite_df.groupby('Brand')
brand_transactions = brand_grouped_df.count()['Order Date']
brand_average = brand_grouped_df.mean()

brand_summary_df = pd.DataFrame({"Transactions Per Brand": brand_transactions,
                                "Average Retail Price": brand_average['Retail Price'],
                                "Average Sale Price": brand_average['Sale Price'],
                                "Average Markup": brand_average['Price Markup'],
                                "Average Shoe Size": brand_average['Shoe Size']})

# data munge
brand_summary_df['Average Retail Price'] = brand_summary_df['Average Retail Price'].map("${:,.2f}".format)
brand_summary_df['Average Sale Price'] = brand_summary_df['Average Sale Price'].map("${:,.2f}".format)
brand_summary_df['Average Markup'] = brand_summary_df['Average Markup'].map("${:,.2f}".format)
# round to nearest half size
brand_summary_df['Average Shoe Size'] = (brand_summary_df['Average Shoe Size'] * 2).round() / 2
brand_summary_df

,Transactions Per Brand,Average Retail Price,Average Sale Price,Average Markup,Average Shoe Size
Brand,,,,,
Yeezy,72162,$219.87,$360.03,$140.16,9.0
Off-White,27794,$179.38,$671.48,$492.10,9.5

In [127]:
# perform calculations on data to find time on the market
yeezy_vs_offwhite_df['Days on Market'] = yeezy_vs_offwhite_df['Order Date']-yeezy_vs_offwhite_df['Release Date']
yeezy_vs_offwhite_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Price Markup,Days on Market
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California,877.0,342 days
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California,465.0,282 days
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California,470.0,282 days
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky,855.0,282 days
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island,608.0,202 days

In [233]:
# plot transactions per Region
region_group = yeezy_vs_offwhite_df.groupby('Buyer Region')
region_transactions = region_group.count()['Order Date']
region_average = region_group.mean()

region_summary_df = pd.DataFrame({"Transactions Per Region": region_transactions,
                                "Average Retail Price": region_average['Retail Price'],
                                "Average Sale Price": region_average['Sale Price'],
                                "Average Markup": region_average['Price Markup'],
                                "Average Shoe Size": region_average['Shoe Size']})
# data munge
region_summary_df['Average Retail Price'] = region_summary_df['Average Retail Price'].map("${:,.2f}".format)
region_summary_df['Average Sale Price'] = region_summary_df['Average Sale Price'].map("${:,.2f}".format)
region_summary_df['Average Markup'] = region_summary_df['Average Markup'].map("${:,.2f}".format)
# round to nearest half size
region_summary_df['Average Shoe Size'] = (region_summary_df['Average Shoe Size'] * 2).round() / 2

# grab lat and long of state centers for mapping

# create a plot using folium to plot values over map
# get lat and long data for each neighborhood
lat = []
longs = []
# create geocode object
geolocator = Nominatim()
# run a loop that grabs lat and long from each state
for state in region_summary_df.index:
#     print(state)
    try: 
        location = geolocator.geocode(state)
        lat.append(location.latitude)
        longs.append(location.longitude)
    except Exception as e:
        lat.append('Not Found')
        longs.append('Not Found')
        # geocoders has an issue with Washington State being called by Washington
        if state == 'Washington':
            location = geolocator.geocode('Washington State')
            lat.append(location.latitude)
            longs.append(location.longitude)

/Users/albertolszewski/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

In [240]:
# add lat long to dataframe
lat
# region_summary_df['Latitude'] = lat
# region_summary_df['Longitude'] = longs
# region_summary_df.head()

[33.2588817,
 64.4459613,
 34.395342,
 35.2048883,
 36.7014631,
 38.7251776,
 41.6500201,
 38.6920451,
 38.89366125,
 27.7567667,
 32.3293809,
 21.2160437,
 43.6447642,
 40.0796606,
 40.3270127,
 41.9216734,
 38.27312,
 37.5726028,
 30.8703881,
 45.709097,
 39.5162234,
 42.3788774,
 43.6211955,
 45.9896587,
 32.9715645,
 38.7604815,
 47.3752671,
 41.7370229,
 39.5158825,
 43.4849133,
 40.0757384,
 34.5708167,
 40.7127281,
 35.6729639,
 47.6201461,
 40.2253569,
 34.9550817,
 43.9792797,
 40.9699889,
 41.7962409,
 33.6874388,
 44.6471761,
 35.7730076,
 31.8160381,
 39.4225192,
 44.5990718,
 37.1232245,
 'Not Found',
 47.2868352,
 38.4758406,
 44.4308975,
 'Not Found']

In [227]:
# create map of the United States using latitude and longitude values

# Store latitude and longitude in locations
locations = region_summary_df['Location'][:]
locations
# # Fill NaN values and convert to float
# transactions = region_summary_df["Transactions Per Region"].astype(float)
# transactions
# fig = gmaps.figure()

# # Create heat layer
# heat_layer = gmaps.heatmap_layer(locations, weights=transactions, 
#                                  dissipating=False, max_intensity=10,
#                                  point_radius=1)


# # Add layer
# fig.add_layer(heat_layer)

# fig

[33.2588817, -86.8295337]

In [100]:
# create a dataframe with shoe size as index containing brand and transactions
# groupby shoe size
shoe_size_group = yeezy_vs_offwhite_df.groupby('Shoe Size')
shoe_size_transactions = shoe_size_group.count()['Order Date']
shoe_size_average = shoe_size_group.mean()

shoe_size_summary_df = pd.DataFrame({"Transactions Per Shoe Size": shoe_size_transactions,
                                "Average Retail Price": shoe_size_average['Retail Price'],
                                "Average Sale Price": shoe_size_average['Sale Price'],
                                "Average Markup": shoe_size_average['Price Markup']
                                })
# data munge
shoe_size_summary_df['Average Retail Price'] = shoe_size_summary_df['Average Retail Price'].map("${:,.2f}".format)
shoe_size_summary_df['Average Sale Price'] = shoe_size_summary_df['Average Sale Price'].map("${:,.2f}".format)
shoe_size_summary_df['Average Markup'] = shoe_size_summary_df['Average Markup'].map("${:,.2f}".format)


shoe_size_summary_df

,Transactions Per Shoe Size,Average Retail Price,Average Sale Price,Average Markup
Shoe Size,,,,
3.5,4,$242.50,$503.75,$261.25
4.0,2241,$211.87,$382.80,$170.93
4.5,1304,$209.89,$390.94,$181.05
5.0,3577,$213.93,$385.61,$171.68
5.5,2621,$216.10,$373.47,$157.36
6.0,4013,$210.87,$414.64,$203.77
6.5,2219,$210.17,$422.91,$212.73
7.0,3867,$207.57,$424.93,$217.36
7.5,2664,$210.10,$427.52,$217.42
8.0,5363,$205.78,$468.16,$262.38
8.5,5300,$209.86,$442.48,$232.62
9.0,9706,$207.46,$452.45,$244.99
9.5,8685,$210.45,$450.71,$240.26
10.0,11093,$205.94,$477.03,$271.09
10.5,8784,$209.27,$445.09,$235.83
11.0,9251,$206.00,$476.42,$270.41
11.5,4502,$210.61,$432.99,$222.38
12.0,7297,$207.08,$456.62,$249.54
12.5,628,$215.65,$422.07,$206.42
13.0,4602,$205.69,$468.05,$262.36
13.5,147,$219.86,$392.39,$172.52
14.0,1791,$210.47,$454.44,$243.97
14.5,84,$219.76,$450.20,$230.44
15.0,130,$179.62,$670.13,$490.52
16.0,79,$218.61,$751.72,$533.11
17.0,4,$212.50,"$1,189.00",$976.50